@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --max-width-page: 850px;
    --standard-margin: 25px 0;
    --standard-margin-bottom: 25px;
    --shadow-anchor: inset 0px 6px 9px 2px rgb(207 0 0 / 39%);
    --primary-color: #BE2727;
    --color-links: #fc8888;
    --mobile-padding: 20px;
}

body{
    display: flex;
    justify-content: center;
    background-color: #212121;
    width: 100%;
    min-height: 100vh;
    color: #f5f5f5;
}

a{
    text-decoration: none;
    color: var(--color-links);
    font-weight: 700;
}

a:hover{
    text-decoration: underline;
}

.text-white{
    color: #ffffff;
}

.text-dark{
    color: #000000;
}

em{
    color: #fdea9f;
}

.icon, svg {
    width: 40px;
    height: 40px;
}

h1{
    font-size: 1.6em;
    margin: 0;
    color: rgba(200, 50, 50, 1);
}

h2{
    font-size: 1.4em;
    margin-bottom: .4em;
    color: rgba(150, 30, 30, 1);
}

h3{
    font-size: 1.2em;
    color: #ff4d4d;
}

p{
    line-height: 1.5;
    margin: 0;
    font-weight: 200;
    font-size: 0.9em;
}

small{
    font-size: 0.7em;
    margin: 0;
}

.text-center{
    text-align: center;
}

.text-muted{
    color: #ffffff4f;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.top-0{
    top: 0;
}

.top-25{
    top: 25%;
}

.top-25-n{
    top: -25px;
}

.top-50{
    top: 50%;
}

.top-50-n{
    top: -50%;
}

.top-75-n{
    top: -75%;
}

.left-0{
    left: 0;
}

.left-25{
    left: 25%;
}

.left-25-n{
    left: -25px;
}

.right-0{
    right: 0;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.gap-1{
    gap: 1rem;
}

.transition-all{
    transition: all ease-in-out 0.3s;
}

ul{
    list-style-type: none;
}

.std-mb{
    margin-bottom: var(--standard-margin-bottom);
}

.badge{
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 5px;
    text-shadow: 0 0 8px #000000;
}

.badge-green{
    background-color: #00b800;
}

.badge-red{
    background-color: #330101;
    color: #ff0000;
}

.badge-orange{
    color: #FF8C00;
}

.badge-blue{
    color: #007bff;
    background-color: #001935;
}

.badge-purple{
    color: #6100ff;
    background-color: #12002f;
}

.badge-pink{
    background-color: #ff1493;
}

.badge-yellow{
    background-color: #352700;
    color: #ffc000;
}

/*
    Responsive design for smaller screens (Mobile) 767px or less than that.
*/

@media (max-width: 767px) {
    *{
        --standard-margin-bottom: 15px;
    }

    h2{
        
    }
}