@import url('./globals.css');

.bg-body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/background3.webp');
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    -webkit-filter: blur(15px);
    z-index: -1;
}

.main-container{
    width: 100%;
    max-width: var(--max-width-page);
    padding: 35px 0;
}

header{
    display: grid;
    gap: 7%;
}

.profile-img{
    position: relative;
    grid-row: span 2 / span 2;    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-img h1{
    text-align: center;
    margin-bottom: 10px;
}

.profile-img img{
    transition: all ease-in-out 0.3s;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 0px 0px 4px #ffffff2e;
}

.description-container{
    grid-column-start: 2;
}

.nav-container ul{
    display: flex;
    justify-content: flex-end;
}

.nav-container ul li{
    margin-left: 20px;
}

nav a{
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 300;
    transition: all ease-in-out 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 0 10px;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

nav a:hover{
    box-shadow: var(--shadow-anchor);
    margin-top: 30px;
}

nav a img{
    width: 35px;
    height: 35px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

nav a img:hover{
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
}

.scroll-nav{
    position: fixed;
    top: -100px;
    width: 100%;
    max-width: var(--max-width-page);
    background: linear-gradient(to bottom, rgb(14 0 0 / 90%), rgb(73 0 0 / 89%));
    border-radius: 20rem 2rem 20rem 2rem;
    -webkit-border-radius: 20rem 2rem 20rem 2rem;
    -moz-border-radius: 20rem 2rem 20rem 2rem;
    -ms-border-radius: 20rem 2rem 20rem 2rem;
    -o-border-radius: 20rem 2rem 20rem 2rem;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.scroll-nav.active{
    top: 1%;
    padding: 10px;
}

.scroll-nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.scroll-nav ul li a{
    color: #fff;
    font-weight: 600;
    padding: 10px;
}

.nav-links.active{
    background-color: rgba(191, 0, 0, 0.52);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.nav-links:hover{
    text-decoration: none;
    border-radius: 0;
    box-shadow: 0 0 6px rgba(191, 0, 0, 0.52);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.dropdown a::after {
    content: "";
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg) translateX(-4px);
    margin-left: 6%;
}

.dropdown ul{
    position: absolute;
    z-index: 100;
    background-color: #ffffff8c;
    border-radius: 3px;
    margin-top: 0.3rem;
    width: 50%;
    color: #000000;
    display: flex;
    flex-direction: column;
    padding: 1% 6%;
}

.dropdown ul li{
    width: 100%;
}

.dropdown ul li:hover{
    background-color: #388697;
    cursor: pointer;
    color: #ffffff;
    padding-left: 3%;
}
section{
    margin-top: 30px;
}

.section-title{
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(180deg, transparent 47%, #be272742 50%, transparent 53%);
}

.section-title h2{
    color: #ffffff;
    border-left: 5px solid #be272742;
    border-right: 5px solid #be272742;
    background-color: #000000;
    padding: 5px 4%;
    border-radius: 30rem;
    -webkit-border-radius: 30rem;
    -moz-border-radius: 30rem;
    -ms-border-radius: 30rem;
    -o-border-radius: 30rem;
}

.cards-projects-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 20px; 
    grid-template-areas: 
      "main-project main-project"
      "second-project third-project"; 
}
.main-project { grid-area: main-project; }
.second-project { grid-area: second-project; }
.third-project { grid-area: third-project; }

.card{
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 3px #ffffff12;
    transition: all ease-in-out 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.card:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.image-container{
    overflow: hidden;
    max-width: 100%;
    margin: var(--standard-margin);
}

.image-container img{
    max-width: 100%;
    object-fit: contain;
}
.splide{
    margin: var(--standard-margin);
}
.splide__track {
    background: #1a1a1a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    transition: transform 0.3s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.splide__track img{
    object-fit: cover;
    width: 100%;
}
.splide__track:hover {
    transform: scale(1.05);
}
.splide__arrow{
    background: transparent;
    display: block;
}

.splide__arrow svg {
    fill: var(--primary-color);
    height: 2.2em;
    width: 2.2em;
}

.splide__pagination__page{
    background: #be272794;
}
.splide__pagination__page.is-active{
    background: var(--primary-color);
}

.project-title {
    display: flex;
    justify-content: space-between;
}

.project-title a,
.project-title span{
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 20px;
    font-weight: 300;
    transition: all ease-in-out 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.project-title a:hover{
    cursor: pointer;
    box-shadow: var(--shadow-anchor);
}

.project-title .icon{
    top: -35%;
    left: 25%;
}

.project-title a:hover .icon{
    fill: #5a0b0b;
}

.technologies-list{
    display: flex;
    flex-wrap: wrap;
}

.technologies-list-logos{
    display: none;
}

.skills-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*
    Responsive design for smaller screens (Mobile) 767px or less than that.
*/

@media (max-width: 767px) {
    header{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .nav-container{
        width: 100%;
        margin: 13px 0; 
    }

    .nav-container ul{
        display: flex;
        justify-content: space-between;
    }

    .card{
        padding: 20px;
    }

    .cards-projects-container{
        display: flex;
        flex-direction: column;
    }

    .project-description .text-muted{
        font-size: 0.8em;
    }

    .technologies-list-logos{
        display: flex;
        gap: 5px;
    }

    .technologies-list{
        display: none;
    }
}