.slideLeft{
    animation: slideToLeft 0.5s ease-in-out forwards;
    position: relative;
}

@keyframes slideToLeft  {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}